$list-width: 60%;
$other-width: 100% - $list-width;

div#plot, form.statement_search {
  width: $other-width - 2%;
  margin: 1%;
  position: fixed;
  right: 0;
}

form.statement_search {
  top: 0;
  z-index: 2;
}

div#plot {
  bottom: 0;
  z-index: 1;
}

table.statements {
  width: $list-width - 2%;
  margin: 1%;
}
