$list-width: 42%;
$other-width: 100% - $list-width;

div#plot, form.statement_search {
  width: $other-width - 2%;
  margin: 1%;
  position: fixed;
  right: 0;
}

form.statement_search {
  top: 0;
  z-index: 2;
}

#plot {
  height: 400px;
  bottom: 0;
  z-index: 1;
}

#table {
  width: $list-width - 2%;
  margin: 1%;
}

table.statements {
  width: 100%;
  margin: 0;
  padding: 0;
}
